
#right-side{
    height:100%;
}

#right-side-top,#right-side-button{
    min-height:50%;
    height:50%;
}

.right-side-top-content{
    width: 100%;
}
.col-8,.col-4{
    padding-left: 1px;
    height:100%;
}

.img-lines{
    height: auto;
    width: 100%;
}

.img-lines-inv{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    height: auto;
    width: 100%;
}
    

#contenido-bebidas{
    color: #fff;
}

#contenido-bebidas thead th, #contenido-bebidas th, #contenido-bebidas td {
    border-top: none;
    border-bottom: none;
}
 
.table-col1{
    text-align: left;
    width: 280px;
}

.table-col2{
    text-align: center;
    width: 50px;
}

.table-col3{
    text-align: center;
    width: 50px;
}

.table-col4{
    text-align: center;
    width: 20px;
}

.table-col5{
    text-align: center;
    width: 50px;
}

.one-table-center{
    height:100%;
    width: 450px;
    margin: 0 auto;
    text-align: left;
}
    
